<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Task List</h1>
    <%= link_to new_task_path, class: 'text-dark text-decoration-none' do %>
      <i class="fa-solid fa-plus"></i> New Task
    <% end %>
  </div>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.title, task_path(task) %> |
        <%= link_to 'Edit', edit_task_path(task) %> |
        <%= link_to 'Delete', task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
